@namespace Reader.Shared.Product

@using MudBlazor
@using MudBlazorFix
@using Reader.Shared
@using Reader.Modules
@using Reader.Modules.Product
@using Reader.Data.Storage
@using Reader.Data.Product
@using Newtonsoft.Json
@using System.Text
@using Reader.Data.ProductExceptions
@using Reader.Modules.Logging
@inject Constants constants
@inject IJSRuntime JSRuntime
@inject MainStorage mainstorage
@inject ISnackbar Snackbar


<div id="reader-frontpagesection" class="flex justify-center align-center flex-col transition-transform duratin-500 ease-in-out">
    <div class="pt-20 pb-20 flex justify-center" style="font-size: @(ReaderContext.ConfigManager.FrontTextSize)px; overflow-y: hidden;">
        <div>
            <span style="font-family: '@(ReaderContext.ConfigManager.FrontFont)' !important; font-weight: @(ReaderContext.ConfigManager.FrontFontWeight) !important;">
                <span class="text-neutral-@(1000-ReaderContext.ConfigManager.FrontPeripheralWordsBrightness)" style="position: absolute; transform:translateX(-100%); white-space: nowrap;">
                    @(ReaderContext.Manager.GetTextPiecesLookBehind())
                    <span class="width: @(ReaderContext.ConfigManager.FrontTextSize)px; display: inline-block"></span>
                </span>
                <span class="text-white">
                    @(ReaderContext.Manager.GetCurrentTextPiece().Item1)<span style="color: @(ReaderContext.ConfigManager.FrontMiddleCharHighlightingColor);">@(ReaderContext.Manager.GetCurrentTextPiece().Item2)</span>@(ReaderContext.Manager.GetCurrentTextPiece().Item3)
                </span>
                <span class="text-neutral-@(1000-ReaderContext.ConfigManager.FrontPeripheralWordsBrightness)" style="position: absolute; white-space: nowrap;">
                    <span class="width: @(ReaderContext.ConfigManager.FrontTextSize)px; display: inline-block"></span>
                    @(ReaderContext.Manager.GetTextPiecesLookAhead())
                </span>
            </span>
        </div>
    </div>

    <div class="mb-10 grid sm:grid-cols-7 grid-cols-3 w-full">
        <div class="col-span-2 flex justify-start">
            <div class="m-3">
                <MudFab Color="Color.Secondary" Class="!shadow-sm" StartIcon="@(FocusModeOn ? Icons.Material.Filled.Cancel : Icons.Material.Filled.RemoveRedEye)" OnClick="ToggleFocusMode" />
            </div>
            <div class="m-3">
                <MudFab Color="Color.Secondary" Class="!shadow-sm" StartIcon="@Icons.Material.Filled.Settings" OnClick="ToggleConfigPanelOpen" />
            </div>
        </div>
        <div class="flex justify-center col-span-3">
            <div class="m-3">
                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.NavigateBefore" OnClick="ReaderContext.Manager.HandleNavBefore" />
            </div>
            <div class="m-3">
                <MudFab Color="Color.Primary" StartIcon="@(ReaderContext.Manager.ReadingStatus ? Icons.Material.Filled.Pause : Icons.Material.Filled.PlayArrow)" OnClick="ReaderContext.Manager.HandleStartStop" />
            </div>
            <div class="m-3">
                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.NavigateNext" OnClick="ReaderContext.Manager.HandleNavNext" />
            </div>
        </div>
        <div class="col-span-2">

        </div>
    </div>
</div>

<div class="mb-10">
    <MudSlider @bind-Value="@ReaderContext.State.Position" Min="0" Max="@(ReaderContext.Manager.TextPieces.Count-1)" Step="1" Class="text-gray-500 text-sm" Color="Color.Tertiary">Position: @(ReaderContext.State.Position+1) @((int)(ReaderContext.State.Position+1)*100/ReaderContext.Manager.TextPieces.Count())%</MudSlider>
</div>
<div class="mb-16">
    <div class="d-flex mb-4">
        <div>

            <MudPopover Open="@ConfigPanelOpen" Class="rounded-lg shadow-xl !bg-bgcol">
                <div class="m-8 md:m-12" style="width: min(30rem, 90vw);">
                    <div class="flex justify-between items-center mb-4">
                        <p class="text-xl font-semibold">
                            Configuration
                        </p>
                        <MudFab Color="Color.Secondary" Class="!shadow-sm" StartIcon="@Icons.Material.Filled.Cancel" OnClick="ToggleConfigPanelOpen" />
                    </div>
                    <MudSlider Color="Color.Tertiary" Class="my-2 md:my-4" @bind-Value="@ReaderContext.ConfigManager.FrontReadingSpeed" Min="1" Max="2000" Step="10">Reading Speed: @(ReaderContext.ConfigManager.FrontReadingSpeed)</MudSlider>
                    <MudSlider Color="Color.Tertiary" Class="my-2 md:my-4" @bind-Value="@ReaderContext.ConfigManager.FrontPeripheralCharsCount" Min="0" Max="40" Step="1">Peripheral words character limit: @(ReaderContext.ConfigManager.FrontPeripheralCharsCount)</MudSlider>
                    <MudSlider Color="Color.Tertiary" Class="my-2 md:my-4" @bind-Value="@ReaderContext.ConfigManager.FrontWordNavCount" Min="2" Max="40" Step="1">Word navigation count: @(ReaderContext.ConfigManager.FrontWordNavCount)</MudSlider>
                    <MudSlider Color="Color.Tertiary" Class="my-2 md:my-4" @bind-Value="@ReaderContext.ConfigManager.FrontTextSize" Min="6" Max="50" Step="1">Text size: @(ReaderContext.ConfigManager.FrontTextSize)</MudSlider>
                    <MudSelect Color="Color.Tertiary" Class="mud-select-table" Label="Font"
                            T="string"
                            @bind-Value="ReaderContext.ConfigManager.FrontFont">

                        @foreach (var type in Enum.GetValues(typeof(Font)))
                        {
                            <MudSelectItem Value="@type.ToString()" />
                        }
                    </MudSelect>
                    <MudSlider Color="Color.Tertiary" Class="my-2 md:my-4" @bind-Value="@ReaderContext.ConfigManager.FrontFontWeight" Min="200" Max="800" Step="100">Text weight: @(ReaderContext.ConfigManager.FrontFontWeight)</MudSlider>
                    <MudSlider Color="Color.Tertiary" Class="my-2 md:my-4" @bind-Value="@ReaderContext.ConfigManager.FrontWordCharLimit" Min="1" Max="40" Step="1">Character limit per word: @(ReaderContext.ConfigManager.FrontWordCharLimit)</MudSlider>
                    <MudSlider Color="Color.Tertiary" Class="my-2 md:my-4" @bind-Value="@ReaderContext.ConfigManager.FrontPeripheralWordsBrightness" Min="100" Max="900" Step="100">Peripheral words brightness: @(ReaderContext.ConfigManager.FrontPeripheralWordsBrightness)</MudSlider>
                    <MudColorPicker class="my-2 md:my-4" T="string" @bind-Text="@ReaderContext.ConfigManager.FrontMiddleCharHighlightingColor" Label="Middle character highlighting color" ColorPickerView="ColorPickerView.Spectrum" DisableAlpha="true" DisablePreview="true" />
                    <p class="my-2 md:my-4">
                        'Character limit per word' may change the reading position. Do not update it while reading.
                    </p>
                    
                </div>
            </MudPopover>
        </div>
    </div>
</div>

<div>
    <div class="flex my-5">
        <MudTextField @ref="ReaderContext.stateTitle" T="string" Id="reader-fontpagesection-titlefield" MaxLength=150 Label="Title" Variant="Variant.Outlined" ValueChanged="ReaderContext.HandleTitleChanged" Lines="1" Style="width: 100%;" />
        <MudButton Variant="Variant.Filled" OnClick="@ReaderContext.HandlePasteTitle" Color="Color.Secondary" Class="m-2 !py-5 !px-3 hover:!bg-neutral-900 centered-button-icon" StartIcon="@Icons.Material.Filled.ContentPaste"></MudButton>
        <MudButton Variant="Variant.Filled" OnClick="@HandleCopyTitle" Color="Color.Secondary" Class="m-2 !py-5 !px-3 hover:!bg-neutral-900 centered-button-icon" StartIcon="@Icons.Material.Filled.ContentCopy"></MudButton>
    </div>
    <MudTextField @ref="ReaderContext.stateText" class="focus:!border-tertiary" Disabled="@(ReaderContext.State.Text.Length >= ProductStorage.MaxInputLength)" T="string" Id="reader-fontpagesection-textfield" Label="Text" Variant="Variant.Outlined" ValueChanged="ReaderContext.HandleTextChanged" Lines="10" Style="width: 100%;" />
    
    <div class="my-3">
        <MudButton Variant="Variant.Filled" OnClick="@ReaderContext.HandlePasteText" Color="Color.Secondary" Class="m-2 !py-5 !px-3 hover:!bg-neutral-900 centered-button-icon" StartIcon="@Icons.Material.Filled.ContentPaste"></MudButton>
        <MudButton Variant="Variant.Filled" OnClick="@HandleCopyText" Color="Color.Secondary" Class="m-2 !py-5 !px-3 hover:!bg-neutral-900 centered-button-icon" StartIcon="@Icons.Material.Filled.ContentCopy"></MudButton>
    </div>
    
    <p class="text-gray-400 text-sm">
        Configuration, text and reading state are saved automatically and locally in your browser once you de-focus the text field.
        Titles must be unique.
    </p>
</div>

@code {

    [Parameter]
    public ReaderContext ReaderContext { get; set; } = default!;

    bool ConfigPanelOpen = false;
    bool FocusModeOn = false;


    private void ToggleConfigPanelOpen()
    {
        if (!ConfigPanelOpen && ReaderContext.Manager.ReadingStatus)
            ReaderContext.Manager.StopReadingTask();

        ConfigPanelOpen = !ConfigPanelOpen;

        Log.Verbose("ReaderView: ToggleConfigOpen");
    }

    private async Task ToggleFocusMode()
    {

        if (ConfigPanelOpen)
            ToggleConfigPanelOpen();

        await JSRuntime.InvokeVoidAsync(FocusModeOn ? "deactivateFocusMode" : "activateFocusMode");
        FocusModeOn = !FocusModeOn;

        Log.Verbose("ReaderView: ToggleFocusMode");
    }

    private async Task HandleCopyText() {
        await JSRuntime.InvokeVoidAsync("copyText");
    }

    private async Task HandleCopyTitle() {
        await JSRuntime.InvokeVoidAsync("copyTitle");
    }

}
