@namespace Reader.Shared.Product

@using MudBlazor
@using Reader.Shared
@using Reader.Modules
@using Reader.Modules.Product
@using Reader.Data.Storage
@using Reader.Data.Product
@using Newtonsoft.Json
@using System.Text
@using Reader.Data.ProductExceptions
@using Reader.Modules.Logging
@inject Constants constants
@inject IJSRuntime JSRuntime
@inject MainStorage mainstorage
@inject ISnackbar Snackbar

<div id="reader-frontpagesection" class="flex justify-center align-center flex-col transition-transform duratin-500 ease-in-out">
    <div class="pt-20 pb-20 flex justify-center" style="font-size: @(ReaderContext.ConfigManager.FrontTextSize)px; overflow-y: hidden;">
        <div>
            <span style="font-family: '@(ReaderContext.ConfigManager.FrontFont)' !important; font-weight: @(ReaderContext.ConfigManager.FrontFontWeight) !important;">
                <span class="text-neutral-@(1000-ReaderContext.ConfigManager.FrontPeripheralWordsBrightness)" style="position: absolute; transform:translateX(-100%); white-space: nowrap;">
                    @(ReaderContext.Manager.GetTextPiecesLookBehind())
                    <span class="width: @(ReaderContext.ConfigManager.FrontTextSize)px; display: inline-block"></span>
                </span>
                <span class="text-white">
                    @(ReaderContext.Manager.GetCurrentTextPiece().Item1)<span style="color: @(ReaderContext.ConfigManager.FrontMiddleCharHighlightingColor);">@(ReaderContext.Manager.GetCurrentTextPiece().Item2)</span>@(ReaderContext.Manager.GetCurrentTextPiece().Item3)
                </span>
                <span class="text-neutral-@(1000-ReaderContext.ConfigManager.FrontPeripheralWordsBrightness)" style="position: absolute; white-space: nowrap;">
                    <span class="width: @(ReaderContext.ConfigManager.FrontTextSize)px; display: inline-block"></span>
                    @(ReaderContext.Manager.GetTextPiecesLookAhead())
                </span>
            </span>
        </div>
    </div>

    <div class="flex justify-center mb-10">
        <div class="m-3">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.NavigateBefore" OnClick="ReaderContext.Manager.HandleNavBefore" />
        </div>
        <div class="m-3">
            <MudFab Color="Color.Primary" StartIcon="@(ReaderContext.Manager.ReadingStatus ? Icons.Material.Filled.Pause : Icons.Material.Filled.PlayArrow)" OnClick="ReaderContext.Manager.HandleStartStop" />
        </div>
        <div class="m-3">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.NavigateNext" OnClick="ReaderContext.Manager.HandleNavNext" />
        </div>
    </div>
</div>

<div class="mb-10">
    <MudSlider @bind-Value="@ReaderContext.State.Position" Min="0" Max="@(ReaderContext.Manager.TextPieces.Count-1)" Step="1" Class="text-gray-700 text-sm">Position: @(ReaderContext.State.Position+1) @((int)(ReaderContext.State.Position+1)*100/ReaderContext.Manager.TextPieces.Count())%</MudSlider>
</div>
<div class="mb-16">
    <div class="d-flex mb-4">
        <div>
            <MudButton Variant="Variant.Filled" OnClick="@ToggleConfigPanelOpen" Color="Color.Secondary" Class="m-3">
                @(ConfigPanelOpen? "Close" : "Open") Configuration
            </MudButton>
            <MudButton Variant="Variant.Filled" OnClick="@ToggleFocusMode" Color="Color.Secondary" Class="m-3">
                @(FocusModeOn? "Deactivate" : "Activate") Focus mode
            </MudButton>
            <MudPopover Open="@ConfigPanelOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Class="rounded-lg shadow-xl !bg-bgcol">
                <div class="m-5" style="width: min(30rem, 90vw);">
                    <MudSlider Class="md:my-2" @bind-Value="@ReaderContext.ConfigManager.FrontReadingSpeed" Min="1" Max="2000" Step="10">Reading Speed: @(ReaderContext.ConfigManager.FrontReadingSpeed)</MudSlider>
                    <MudSlider Class="md:my-2" @bind-Value="@ReaderContext.ConfigManager.FrontPeripheralCharsCount" Min="0" Max="40" Step="1">Peripheral words character limit: @(ReaderContext.ConfigManager.FrontPeripheralCharsCount)</MudSlider>
                    <MudSlider Class="md:my-2" @bind-Value="@ReaderContext.ConfigManager.FrontWordNavCount" Min="2" Max="40" Step="1">Word navigation count: @(ReaderContext.ConfigManager.FrontWordNavCount)</MudSlider>
                    <MudSlider Class="md:my-2" @bind-Value="@ReaderContext.ConfigManager.FrontTextSize" Min="6" Max="50" Step="1">Text size: @(ReaderContext.ConfigManager.FrontTextSize)</MudSlider>
                    <MudSelect Class="mud-select-table" Label="Font"
                            T="string"
                            @bind-Value="ReaderContext.ConfigManager.FrontFont">

                        @foreach (var type in Enum.GetValues(typeof(Font)))
                        {
                            <MudSelectItem Value="@type.ToString()" />
                        }
                    </MudSelect>
                    <MudSlider Class="md:my-2" @bind-Value="@ReaderContext.ConfigManager.FrontFontWeight" Min="200" Max="800" Step="100">Text weight: @(ReaderContext.ConfigManager.FrontFontWeight)</MudSlider>
                    <MudSlider Class="md:my-2" @bind-Value="@ReaderContext.ConfigManager.FrontWordCharLimit" Min="1" Max="40" Step="1">Character limit per word: @(ReaderContext.ConfigManager.FrontWordCharLimit)</MudSlider>
                    <MudSlider Class="md:my-2" @bind-Value="@ReaderContext.ConfigManager.FrontPeripheralWordsBrightness" Min="100" Max="900" Step="100">Peripheral words brightness: @(ReaderContext.ConfigManager.FrontPeripheralWordsBrightness)</MudSlider>
                    <MudColorPicker class="md:my-2" T="string" @bind-Text="@ReaderContext.ConfigManager.FrontMiddleCharHighlightingColor" Label="Middle character highlighting color" ColorPickerView="ColorPickerView.Spectrum" DisableAlpha="true" DisablePreview="true" />
                    <p class="mt-3">
                        'Character limit per word' may change the reading position. Do not update it while reading.
                    </p>
                </div>
            </MudPopover>
        </div>
    </div>
</div>

<div>
    <div class="md:flex my-5">
        <MudTextField @ref="ReaderContext.stateTitle" T="string" Id="reader-fontpagesection-titlefield" MaxLength=150 Label="Title" Variant="Variant.Outlined" ValueChanged="ReaderContext.HandleTitleChanged" Lines="1" Style="width: 100%;"/>
        <MudButton Variant="Variant.Filled" OnClick="@ReaderContext.HandlePasteTitle" Color="Color.Tertiary" Class="w-full md:w-auto mt-2 md:ml-3 hover:!bg-neutral-900">
            Paste
        </MudButton>
    </div>
    <MudTextField @ref="ReaderContext.stateText" Disabled="@(ReaderContext.State.Text.Length >= ProductStorage.MaxInputLength)" T="string" Id="reader-fontpagesection-textfield" Label="Text" Variant="Variant.Outlined" ValueChanged="ReaderContext.HandleTextChanged" Lines="10" Style="width: 100%;" />
    
    <div class="my-3">
        <MudButton Variant="Variant.Filled" OnClick="@ReaderContext.HandlePasteText" Color="Color.Secondary" Class="m-2 py-3 hover:!bg-neutral-900" StartIcon="@Icons.Material.Filled.ContentPaste">
            Paste
        </MudButton>
        <MudButton Variant="Variant.Filled" OnClick="@HandleCopyText" Color="Color.Tertiary" Class="m-2 py-3 hover:!bg-neutral-900">
            Copy
        </MudButton>
        <MudButton Variant="Variant.Filled" OnClick="@ToggleNewTextPanelOpen" Color="Color.Secondary" Class="m-3">
            @(NewTextPanelOpen ? "Close" : "Open") new text panel
        </MudButton>
        <MudPopover Open="@NewTextPanelOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Class="rounded-lg shadow-xl" Style="background-color: rgb(22, 22, 26);">
            <MudButton Variant="Variant.Filled" OnClick="@ReaderContext.HandleNewText" Color="Color.Tertiary" Class="m-2 py-3 hover:!bg-neutral-900">
                Free up fields
            </MudButton>
            <div class="my-3 flex gap-4">
                <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".pdf, .txt, .md, .html, .epub" FilesChanged="HandleFileUpload" MaximumFileCount="25" Class="m-2 py-3">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                Variant="Variant.Filled"
                                Color="Color.Secondary"
                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                for="@context">
                            Upload Files
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
                <div class="flex flex-col justify-center">
                    <p>
                        Supported: @ProductStorage.SupportedFileImports
                    </p>
                </div>
            </div>
        </MudPopover>
    </div>
    
    <p class="text-gray-400 text-sm">
        Configuration, text and reading state are saved automatically and locally in your browser once you de-focus the text field.
        Titles must be unique.
    </p>
</div>

@code {

    [Parameter]
    public ReaderContext ReaderContext { get; set; } = default!;

    bool ConfigPanelOpen = false;
    bool FocusModeOn = false;

    bool NewTextPanelOpen = false;

    private void ToggleConfigPanelOpen()
    {
        if (!ConfigPanelOpen && ReaderContext.Manager.ReadingStatus)
            ReaderContext.Manager.StopReadingTask();

        ConfigPanelOpen = !ConfigPanelOpen;

        Log.Information("ReaderView: ToggleConfigOpen");
    }

    private void ToggleNewTextPanelOpen()
    {
        if (!ConfigPanelOpen && ReaderContext.Manager.ReadingStatus)
            ReaderContext.Manager.StopReadingTask();

        NewTextPanelOpen = !NewTextPanelOpen;

        Log.Information("ReaderView: ToggleNewTextPanelOpen");
    }

    private async Task ToggleFocusMode()
    {
        await JSRuntime.InvokeVoidAsync(FocusModeOn ? "deactivateFocusMode" : "activateFocusMode");
        FocusModeOn = !FocusModeOn;

        Log.Information("ReaderView: ToggleFocusMode");
    }

    private async Task HandleCopyText() {
        await JSRuntime.InvokeVoidAsync("copyText");
    }

    private async Task HandleFileUpload(IReadOnlyList<IBrowserFile> files) {
        try
        {
            await ReaderContext.HandleFileUpload(files);
        } catch (UnsupportedOperationException e) {
            Snackbar.Add(e.Message, Severity.Error);
        }

        Log.Information("ReaderView: HandleCopyText");
    }

}
