@namespace Reader.Shared.Sections

@using MudBlazor
@using Reader.Shared.Product
@using Reader.Modules
@using Reader.Data.Product
@using Reader.Data.Storage
@using Reader.Shared.Misc

<div class="w-screen flex justify-center">
    <div class="max-w-4xl mx-4 w-full">
        <div class="my-24 md:my-32 flex flex-col justify-center items-center">
            <h1 class="text-4xl md:text-5xl text-b700 text-white mb-4 text-center">
                Read faster with @(Constants.ProjectName).
            </h1>
            <p class="text-lg text-center max-w-2xl">
                A versatile speed reader that supports high-speed reading for skimming or consuming easy texts at e.g. 400-1000 words per minute. It can also be used at lower speeds for better comprehension while still benefiting from Rapid Serial Visual Presentation (RSVP).
            </p>
        </div>
    </div>
</div>
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl mx-4 w-full">
        <h1 class="text-4xl md:text-5xl text-b700 text-white mb-4 text-center">
            Try it 
            <span class=" display-block md:hidden animate-bounce">
                <MudChip Color="Color.Primary" Class="!text-sm text-b600">SCROLL DOWN <MudIcon Icon="@Icons.Material.Filled.ArrowDownward" Size="Size.Medium" Class="mr-1"></MudIcon></MudChip>
            </span>
        </h1>
        <ReadingPlatform AllowRequestAccess="false" ShowEditFields="false" ShowSavedStates="false" CompactVersion="true" />
    </div>
</div>
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl mx-4 w-full">
        <h1 class="text-4xl md:text-5xl text-b700 text-white mb-4 text-center my-8">
            What others are saying
        </h1>
        <div class="senja-embed" data-id="0820a039-3f8e-42ce-a5a7-dff2e4eb769c" data-mode="shadow" data-lazyload="false"></div>
        <script async type="text/javascript" src="https://widget.senja.io/widget/0820a039-3f8e-42ce-a5a7-dff2e4eb769c/platform.js"></script>
    </div>
</div>
<div class="w-screen flex justify-center mb-10">
    <div class="max-w-4xl mx-4 w-full">
    <FrontSubSection Title="What">
        @Constants.ProjectName is a highly customizable speed-reader built as a <span class="font-semibold text-neutral-300">direct alternative to paid ones</span>.
        It's <span class="font-semibold text-neutral-300">open-source</span> and <span class="font-semibold text-neutral-300">local-storage-focused</span>: Leto can be self-hosted (and is by more than 20 people!) and stores all data on your device only.
        Speed-reading concepts such as <span class="font-semibold text-neutral-300">chunking, pacing and highlighting</span> are built in.
    </FrontSubSection>
    <FrontSubSection Title="Why">
        This is the creator and maintainer of Leto, Davide. 
        I was impressed by the results of speed reading and searched for a free app for long-term use. 
        I checked out Spritz, Spreeder, ReadQuick and others, but they all had a unreasonably high subscription free.
        I also looked for open source speed readers, namely jetzt, SpeedReader, sprint-reader, but almost all of them were abandoned years ago, and all of them were missing features I wanted. (E.g. file upload)
        So I decided to spare a weekend and build my own implementation and share it.
        After a lot of positive feedback, primarily from the self-hosted community, I decided to extend it into a full-fledged product with the help of others.
    </FrontSubSection>
    <FrontSubSection Title="Features">
        <FeatureChip Title="File Upload" Icon="@Icons.Material.Filled.UploadFile" />
        <FeatureChip Title="Import From URL" />
        <FeatureChip Title="Easy clipboard access" />
        <FeatureChip Title="Browser Plugin (soon)" />
        <FeatureChip Title="Local-Only Storage" />
        <FeatureChip Title="8 Customizable Settings" />
        <FeatureChip Title="Keyboard Shortcuts" />
        <FeatureChip Title="Text Source Tracking" />
        <FeatureChip Title="Live Updating State" />
        <FeatureChip Title="Focus mode" />
    </FrontSubSection>
    <FrontSubSection Title="Where to start">
        Start by trying out this demo above. 
        Next up, click "Read" in the navbar to get to the dedicated page. Import any text you like and start reading.
            <span class="font-semibold text-neutral-300">Import from a URL, by uploading a file or from your clipboard.</span>
        <br/>
        If you want to self-host it, use the <a href="@Constants.DockerUrl" class="text-b500 underline">docker image</a>.
    </FrontSubSection>
    <FrontSubSection Title="Common setups">
        <div class="m-2 border border-neutral-700 p-4 rounded-lg shadow-lg">
            <p class="text-b600">Default</p>
            <img src="/static/assets/setups/setup1.png" />
        </div>
        <div class="m-2 border border-neutral-700 p-4 rounded-lg shadow-lg">
            <p class="text-b600">Spritzer (Single word and center highlighted)</p>
            <img src="/static/assets/setups/setup2.png" />
        </div>
        <div class="m-2 border border-neutral-700 p-4 rounded-lg shadow-lg">
            <p class="text-b600">Peripheral-vision-focused</p>
            <img src="/static/assets/setups/setup3.png" />
        </div>
        <div class="m-2 border border-neutral-700 p-4 rounded-lg shadow-lg">
            <p class="text-b600">Peripheral-vision-focused with condensed font</p>
            <img src="/static/assets/setups/setup4.png" />
        </div>
    </FrontSubSection>
    <FrontSubSection Title="Where to go">
        Over time, change settings to fit your needs. Try increasing reading speed incrementally and see how it affects your comprehension.
        Use the <span class="font-semibold text-neutral-300">focus mode</span> to minimize user-interface distractions.
        If you have any <a class="underline underline-offset-2 text-white" href="https://github.com/DavideWiest/Reader/issues/new" target="_blank">problems</a> or <a class="underline underline-offset-2 text-white" target="_blank" href="https://reader.canny.io/feature-requests">feature requests</a>, let us know. Happy reading!
    </FrontSubSection>
    </div>
</div>
<div class="w-screen flex justify-center">
    <div class="max-w-4xl mx-4 mb-20">
        <AnnouncementView />
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public string imageLoc { get; set; } = default!;
    [Parameter]
    public string actionText { get; set; } = default!;
    [Parameter]
    public string actionLink { get; set; } = default!;

}